<h2>Available drones</h2>
<div class='list-items'>
  {{#each drones}}
    <div class='item'>
      <h3>{{name}}</h3>
      <p>{{propellers}}</p>
      <p>{{maxSpeed}}</p>
      <a href='../drones/{{id}}'>See more</a>
      |
      <a href='../drones/{{id}}/edit'>Edit drone</a>
    </div>
  {{/each}}
</div>